header {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    font-size: 18px;
    width: 90%;
    margin: auto;
}

header a {
    text-decoration: none;
    color: black;
}

hr {
    width: 90%;
    margin: auto;
}