header {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    font-size: 18px;
    width: 90%;
    margin: auto;
}

header a {
    text-decoration: none;
    color: black;
}

hr {
    width: 90%;
    margin: auto;
}

.popular-books {
    width: 90%;
    margin: 1em auto;
    padding: .8em;
    /* border: 1px solid black; */
}

.books-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.books-1 > div {
    flex: 23%;
    /* margin-right: .5em; */
    border: 1px solid black;
    padding: .5em;
}

.book {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.book div {
    font-size: .9rem;
    margin-right: .5em;
    border: 1px solid black;

}

.book > .book-image {
    flex: 40%;
}

.book > .book-intro {
    flex: 60%;
    padding: 0 .4em;
}

.book-image > img {
    width: 100%;
    align-items: center;
}

.blogs {
    width: 90%;
    margin: 1rem auto;
    /* border: 1px solid black; */
}

.blog {
    display: flex;
    flex-direction: row;
    padding: .5em;
    margin-bottom: 1em;
    border: 1px solid black;
}

.blogs-1 {
    display: flex;
}

.blog > div {
    border: 1px solid black;
    margin-right: .5em;
}

.blog-image img {
    flex: 30%;
    width: 100%;
}

.blog-content {
    font-size: .8em;
    padding: .5em;
}